div{
    background-color:#EEE;
    width: 400px;
    font-size: 17px;
    margin: auto;
    display: block;
    border: solid 2px;
    text-align: center;
    line-height: 2;
    margin: 20px auto;
    padding: 10px;
    border-color: #f44336 #2196F3;
}

span{
    background-color: #2196F3;
    color: white;
    height: 10px;
    width: 10px;
    position: relative;

}